.row{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.cellcol{
    display: inline;
    border: 1px solid lightgrey;
    width: 8%;
}

.restart-btn {
    padding: 15px;
    font-size: larger;
    background-color: antiquewhite;
    width: 150px;
    text-align: center;
    margin: 20px;
}