<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

<div>
  <div *ngFor="let rowNumber of rows" class="row">
    <app-warshipcell (clicked)="cellClicked($event)" [value]="this.gameMatrix[rowNumber][colNumber]" [matrixNumbers]="[rowNumber, colNumber]" *ngFor="let colNumber of columns"></app-warshipcell>
  </div>
  <div class="restart-btn" (click)="restart()">
    {{ restartBtnText }}
  </div>
</div>
