.cell {
    display: inline-block;
    border: 1px solid lightgrey;
    width: calc(8vw - 2px);
    height: 7vh;
}

.untouched {
    background-color: dimgrey;
}

.watershot {
    background-color: aqua;
}

.killshot {
    background-color: crimson;
}